body {
    background-color: #d2d9e7;
    text-align: center;
}

header {
    background-color: rgb(253, 253, 253);
    padding-top: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: solid rgb(116, 116, 116) 1px;
    margin-bottom: 20px;
}

footer{
    background-color: white;
    padding: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

h1 {
    padding: 20px;
    margin-bottom: 20px;
}

.card {
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: #FFFFFF;
    border: solid rgb(116, 116, 116) 1px;
    border-radius: 10px;
    width: 1200px;
    margin-bottom: 20px;

}

.card-city {
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: white;
    border: solid rgb(206, 206, 206) 1px;
    border-radius: 10px;
    width: 1000px;
    margin-bottom: 20px;
}

.card-city img {
    border-radius: 20px;
    width: 600px;
    height: 400px;
    margin: 30px;
}

.card-city a {
    margin: 10px;
}

.card img {
    border-radius: 20px;
    width: 600px;
    height: 400px;
    margin-bottom: 10px;
}

.card h2 {
    margin: 20px;
}

.text {
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.button-link {
    margin-top: 10px;
    margin-bottom: 40px;
}

.cab-link {
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: center;
}

.color-link {
    color: rgb(66, 66, 66);
    font-size: 16px;
    margin-right: 30px;
    margin-bottom: 20px;
}

table{
    font-family: Arial, sans-serif;
}

td, th {
    padding: 20px;
}

tr:nth-child(even) {
    background-color: #dffaff;
}